<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>
        {{>header}}
        <p>This site was created by Hao Sun</p>
        <img src="/img/visual.jpg" alt="">
        {{>footer}}

    </body>
</html>