<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        {{>header}}
 <form action="">
     <input type="text">
     <button>Search</button>
 </form>
 <p id="m1"></p>
 <p id="m2"></p>
        {{>footer}}
        <script src="/js/app.js"></script>
    </body>
</html>